html{
    font-size: 10px;
}
p{
    font-size: 2rem;
    transition: all 400ms;
    margin: 0 auto;
    width: 20%;
    background-color:antiquewhite;
    border-radius: .4rem;
    text-align: center;
    box-shadow: 0rem .4rem .4rem black;
}
p:hover{
    cursor: pointer;
    transform: scale(1.1);
}